<header class="bg-white shadow-lg">
  <nav class="container mx-auto py-4 flex justify-between items-center">
    <a routerLink="/docker" class="text-gray-800 font-bold text-lg"> Docker </a>
    <div>
      <a
        routerLink="/signin"
        class="text-gray-600 hover:text-gray-800 mr-4"
        *ngIf="!authService.isAuthenticated()"
      >
        Sign In
      </a>
      <a
        routerLink="/signup"
        class="bg-indigo-600 hover:bg-indigo-700 text-white px-4 py-2 rounded-md"
        *ngIf="!authService.isAuthenticated()"
      >
        Sign Up
      </a>
      <button
        (click)="authService.logout()"
        *ngIf="authService.isAuthenticated()"
        class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-md"
      >
        Logout
      </button>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
